body {
    font-family: sans-serif;
}

h1 {
    text-align: center;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.header {
    background-color: #333;
    color: rgb(172, 89, 89);
    text-align: center;
    padding: 1rem;
  height:80px;
  font-family:Apple Chancery,cursive ;
  background-image: url(https://i.pinimg.com/736x/75/f7/f0/75f7f0feca90ea6c728c924230f4ec89.jpg);
}
.header h1{
    text-shadow: 3px 3px 3px;
    position: relative;
    left: -20px;
}

.navigation {
    background-color: #444;
    padding: 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0 1rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #666;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
  align-items:center;
    
  padding:0px 0 30px 0;

}
section{
  width:80%;
      font-family: Snell Roundhand, cursive;

}

.section-1 {
    background-color: #6d6868;
    font-family: Snell Roundhand, cursive;
   
    padding: 1.5rem;
    border-radius: 5px;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.section-1-bg{
    display: flex;
  
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-image: url(https://i.pinimg.com/736x/62/af/8b/62af8b5f206f53353ce1392266eae11d.jpg);
}

.section-1 article {
    background-color: #cec2c2;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.section-2-bg{
    display: flex;
  
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-image: url(https://i.pinimg.com/736x/3a/c6/ad/3ac6ad4c88b00411377bee2407f95af2.jpg);
}
.section-2 {
    background-color: #6f808a;
    border: 1px solid #b3e5fc;
    padding: 1.5rem;
    border-radius: 5px;
  display:flex;
  flex-direction:column;
  gap:20px;
  color: #f4dfdf;
}

.section-2 article {
    background-color: #ffffff;
    border: 1px solid #90caf9;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section-2 img {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.section-3 {
    
    padding: 1.5rem;
    background-color: #ac9c9c;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
   background-image: url(https://i.pinimg.com/736x/02/ea/60/02ea60ff934ee096ba7089c01af35611.jpg);
}
.section-3 div{
  display:flex;
  gap:30px;
}

.section-3 article {
    background-color: #935555;
      padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
section article{
  transition:0.2s;
}
section article:hover {
  cursor:pointer;
  box-shadow:0 0 3px 0 black;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.footer p {
    margin: 0;
}
.hap{
    width: 200px;
    height: 250px;
}
.ictopi{
    color: #444;
}


